<section class="transaction-search-form">

  <nb-card class="form">
    <nb-card-body>
      <form [formGroup]="transactionSearchForm"
            (ngSubmit)="search()">

        <div class="row transaction-fields">
          <div class="transaction-id">
            <div class="label">transaction id</div>
            <div class="input">
              <input nbInput
                     width="20"
                     autocomplete="off"
                     type="number"
                     fieldSize="medium"
                     minlength="1"
                     class="form-control"
                     [status]="isFormFieldInvalid('transactionId')  ? 'danger' : 'basic'"
                     formControlName="transactionId">
            </div>
          </div>
        </div>


        <div class="actions">
          <button type="submit"
                  nbButton
                  status="primary">
            <nb-icon icon="search-outline"></nb-icon>
            <span>Search</span>
          </button>
        </div>

      </form>
    </nb-card-body>
  </nb-card>

  <nb-card class="form-validations"
           *ngIf="transactionSearchFormValidationMessages && transactionSearchFormValidationMessages.length > 0">
    <nb-card-body>
      <div class="form-validation-messages">
        <div class="form-validation-message"
             *ngFor="let validationMessage of transactionSearchFormValidationMessages">
          {{validationMessage}}
        </div>
      </div>
    </nb-card-body>
  </nb-card>

</section>
