<div class = "menu-component">
  <button class="menu-button" nbButton routerLink="/create">Create New Client</button>
  <button class="menu-button" nbButton routerLink="/type1Payment">Make Type1 Payment</button>
  <button class="menu-button" nbButton routerLink="/type2Payment">Make Type2 Payment</button>
  <button class="menu-button" nbButton routerLink="/type3Payment">Make Type3 Payment</button>
  <button class="menu-button" nbButton routerLink="/cancelTransaction">Cancel Transaction</button>
  <button class="menu-button" nbButton routerLink="/searchTransactionById">Find Transaction</button>
  <button class="menu-button" nbButton routerLink="/showAllTransactionsWithStatusOk">Show Transactions</button>
</div>
