.menu-component {
  .menu-button {
    background: #add8e6;
    border-color: lightblue;
    color: #4682b4;
    line-height: 0;
    height: 40px;
    font-size: 13px;
    margin: 23px 3px 3px;
    border-width: 0;
    cursor: pointer;
    border-radius: 0;
  }
}
